Repository voxpupuli/puppet-icinga, pull requests merged in 2024-06, with the labels that each got.

#125 modulesync 8.0.1
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
Labels: modulesync

#124 Fix eventlog as logging_type on Windows
  manifests/init.pp
Labels: bug

#126 Move cert_name parameter default to module data
  data/common.yaml
  manifests/init.pp
Labels: enhancement

#133 Fix typo in requires
  README.md
Labels: docs

#129 Add use of puppet-php >= 10.2.0 to docs
  README.md
Labels: docs

#132 Switch to keyring for all supported Ubuntu and Debian repos
  data/Debian/Debian/10.yaml
  data/Debian/Debian/11.yaml
  data/Debian/Ubuntu/20.04.yaml
Labels: enhancement

#130 Add Debian bookworm support
  metadata.json
Labels: enhancement

#135 Fix private key permissions
  manifests/cert.pp
  spec/defines/cert_spec.rb
Labels: bug
