Repository voxpupuli/puppet-icinga, pull requests merged in 2024-02, with the labels that each got.

#110 Extend connection functionn to use ssl_mode
  REFERENCE.md
  functions/db/connect.pp
  spec/functions/db_connect_spec.rb
Labels: cla/signed

#112 Fix call of wrong function icinga2::unwrap
  functions/db/connect.pp
Labels: bug, cla/signed

#114 Add class agentless to monitor via SSH
  REFERENCE.md
  data/common.yaml
  manifests/agent.pp
  manifests/agentless.pp
  manifests/init.pp
  manifests/server.pp
  manifests/worker.pp
Labels: enhancement, cla/signed

#116 Remove combat repo file names
  manifests/repos/apt.pp
  manifests/repos/yum.pp
  manifests/repos/zypper.pp
Labels: enhancement, cla/signed
